{embed="include/master_header"}

<section id="intro">
    <div class="wrapper">
        <img src="{site_url}assets/img/logo_white.png">
        <h2>Introducing Fimbulvetr</h2>
        <p>The new Norwegian snowshoe</p>
    </div>
</section>

<article class="p1 page product" id="product">
    <div id="productImage">
        <img src="{site_url}assets/img/prod01.jpg">
    </div>
    <div class="content">
        <h2>01.<span>Living Hinge Technology</span></h2>
        <p>
            A brand new, patented, ergonomic innovation,<br>which gives drastically improved traction and<br>support in all directions. Unparallelled when moving<br>downhill and traversing steep sides.
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>
<article class="p2 page product">
    <div class="content">
        <h2>02.<span>Thermoplastic Elastomer Unibody</span></h2>
        <p>
            For incredible strength, durability and<br>smooth weight distribution. Fully recyclable.
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>
<article class="p3 page product">
    <div class="content">
        <h2>03.<span>Feather Lightweight</span></h2>
        <p>
            Less weight means increased energy<br>efficiency, resulting in further<br>reach and faster movement
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>
<article class="p4 page product">
    <div class="content">
        <h2>04.<span>Asymetric Design</span></h2>
        <p>
            Enables natural movements and<br>stance, which are less constraining
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>

<article class="page story" id="story">
    <div class="imageWrapper">
        <img src="{site_url}assets/bilder/basecamp_arc_Hiking_PLA06_Spitzbergen-2012_(c)_Leika_Akademie_Siegfried_Brueck_(1).jpg">
    </div>
    <div class="content">
        <h2>The Fimbulvetr story</h2>
        <p>
            We stepped back, and fundamentally thought through the concept of snowshoes over again. With a deep passion for product design and winter explorations, we pinned down some existing limitations. From there we designed, prototyped and tested till we had something nobody had never seen or experienced previously Fimbulvetr: hendrerit tellus ut massa gravida convallis faucibus lacus tempus. Maecenas gravida ornare neque, et bibendum lacus viverra nec. Curabitur ornare velit ac risus pretium ut.
        </p>
    </div>
</article>
<article class="page story">
    <div class="imageWrapper">
        <img src="{site_url}assets/bilder/snowy_mountains_4a9c247496ad8_hires.jpg">
    </div>
    <div class="content">
        <h2>The Functionality</h2>
        <p>
            We stepped back, and fundamentally thought through the concept of snowshoes over again. With a deep passion for product design and winter explorations, we pinned down some existing limitations. From there we designed, prototyped and tested till we had something nobody had never seen or experienced previously Fimbulvetr: hendrerit tellus ut massa gravida convallis faucibus lacus tempus. Maecenas gravida ornare neque, et bibendum lacus viverra nec. Curabitur ornare velit ac risus pretium ut.
        </p>
    </div>
</article>
<article class="page story">
    <div class="imageWrapper">
        <img src="{site_url}assets/bilder/snowy_mountains_by_joakimolofsson-d3exln2.jpg">
    </div>
    <div class="content">
        <h2>The Production</h2>
        <p>
            We stepped back, and fundamentally thought through the concept of snowshoes over again. With a deep passion for product design and winter explorations, we pinned down some existing limitations. From there we designed, prototyped and tested till we had something nobody had never seen or experienced previously Fimbulvetr: hendrerit tellus ut massa gravida convallis faucibus lacus tempus. Maecenas gravida ornare neque, et bibendum lacus viverra nec. Curabitur ornare velit ac risus pretium ut.
        </p>
    </div>
</article>
<article class="page story">
    <div class="imageWrapper">
        <img src="{site_url}assets/bilder/snowy-mountains-14537-1366x768.jpg">
    </div>
    <div class="content">
        <h2>The Expedition</h2>
        <p>
            We stepped back, and fundamentally thought through the concept of snowshoes over again. With a deep passion for product design and winter explorations, we pinned down some existing limitations. From there we designed, prototyped and tested till we had something nobody had never seen or experienced previously Fimbulvetr: hendrerit tellus ut massa gravida convallis faucibus lacus tempus. Maecenas gravida ornare neque, et bibendum lacus viverra nec. Curabitur ornare velit ac risus pretium ut.
        </p>
    </div>
</article>

{embed="include/master_footer"}