{embed="include/master_header"}

<section id="intro">
    <div class="wrapper">
        <img src="{site_url}assets/img/logo_white.png">
        <h2>Introducing Fimbulvetr</h2>
        <p>The new Norwegian snowshoe</p>
    </div>
</section>

<article class="p1 page" id="product">
    <div id="productImage">
        <img src="{site_url}assets/img/prod01.jpg">
    </div>
    <div class="content">
        <h2>01.<span>Living Hinge Technology</span></h2>
        <p>
            A brand new, patented, ergonomic innovation,<br>which gives drastically improved traction and<br>support in all directions. Unparallelled when moving<br>downhill and traversing steep sides.
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>
<article class="p2 page">
    <div class="content">
        <h2>02.<span>Thermoplastic Elastomer Unibody</span></h2>
        <p>
            For incredible strength, durability and<br>smooth weight distribution. Fully recyclable.
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>
<article class="p3 page">
    <div class="content">
        <h2>03.<span>Feather Lightweight</span></h2>
        <p>
            Less weight means increased energy<br>efficiency, resulting in further<br>reach and faster movement
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>
<article class="p4 page">
    <div class="content">
        <h2>04.<span>Asymetric Design</span></h2>
        <p>
            Enables natural movements and<br>stance, which are less constraining
        </p>
        <a class="buy">Buy product</a>
    </div>
</article>


{embed="include/master_footer"}