@text: #808080;
@background: #fafafa;

.fullSizeBg(@img) {
	background: url(@img) no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
		    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@img, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@{img}, sizingMethod='scale')";
}

.transition (@args, @sec) {
	-webkit-transition: @args, -webkit-transform @sec;
	   -moz-transition: @args,    -moz-transform @sec;
	    -ms-transition: @args,     -ms-transform @sec;
	     -o-transition: @args,      -o-transform @sec;
	        transition: @args,         transform @sec;
}