<!DOCTYPE html>
<html>
<head>
	<title>Filmbulvetr</title>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="/favicon.png">
	{exp:minimee:css}
	<link href="assets/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.less" rel="stylesheet" type="text/css">
	{/exp:minimee:css}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<!--[if lte IE 8 ]> <body class="lteie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

	<header>
		<h1><a href="#intro"><img src="{site_url}assets/img/logo.png" alt="Logo Fimbulvetr"></a></h1>
		<nav>
			<ul>
				<li><a href="#product">Product</a></li>
				<li><a href="#story">Story</a></li>
				<li><a href="#shop">Shop</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<div class="pull-right">
				<a href="#shoppingbag">Shoping bang</a>

				<div class="social">
					<a>F</a>
					<a>T</a>
					<a>P</a>
					<a>M</a>
				</div>
			</div>
		</nav>
	</header>