	
	
	<footer>
		<b>Contact</b>
		<p>
			Snowmotion AS / &copy;2013<br>
			Nedre gate 10. 2nd floor<br>
			0551 Oslo / Norway
		</p>
		<p>
			Phone: <a href="tel:+47 930 08 035" class="phone">+47 930 08 035</a><br>
			Email: <a href="mailto:contact@fimbulvetr">contact@fimbulvetr</a>
		</p>
	</footer>
	
	<script src="{site_url}assets/js/main.js"></script>
	<script src="{site_url}assets/js/bootstrap.min.js"></script>
	<script src="{site_url}assets/js/jquery.animate-enhanced.min.js"></script>
	<script src="{site_url}assets/js/jquery.imageloader.js"></script>
	
	<script>
		
	</script>
</body>
</html>